#### Code to learn Pandas

In [1]:
import pandas as pd

In [2]:
# Create Dataframe from one dimensional list
listdata = [1, 2, 3, 4]
df = pd.DataFrame(listdata)
print(df)

   0
0  1
1  2
2  3
3  4

In [3]:
# Create Dataframe from two dimensional list
listdata2 = [['Saket', 10], ['Dr Saket', 5], ['Dr. S K Choudhary', 15000]]
df1 = pd.DataFrame(listdata2)
print(df1)

                   0      1
0              Saket     10
1           Dr Saket      5
2  Dr. S K Choudhary  15000

In [5]:
# Create column name and data type in data frame
df2 = pd.DataFrame(listdata2, columns=['Name', 'Exp'], dtype=float)
print(df2)

                Name      Exp
0              Saket     10.0
1           Dr Saket      5.0
2  Dr. S K Choudhary  15000.0

In [6]:
# Create Dataframe from a dictionary and index
dict1 = {
    "name": ["Saket", "kumar"],
    "age": [3, 5]
}
df3 = pd.DataFrame(dict1, index=['r1', 'r2'], dtype=float)
print(df3)

     name  age
r1  Saket  3.0
r2  kumar  5.0