**First Python Program**

In [1]:
print("Hello World")

Hello World

In [2]:
!pip install numpy

Requirement already satisfied: numpy in c:\users\abcd\anaconda3\lib\site-packages (1.19.2)

**Pyhton Operators**

In [3]:
# Comment

In [4]:
a = 2
print(a)

2

In [5]:
3 + 5  # Arthematic Operator

8

In [6]:
3 - 5

-2

In [7]:
3*5

15

**Data Types**

In [8]:
3 ** 5

243

In [9]:
3*5

15

In [10]:
'sa'*3

'sasasa'

In [11]:
3/2

1.5

In [14]:
8//3

2

In [15]:
8%3

2

In [16]:
2 | 3

3

**Data Types**
* String
* List
* Tuple
* Set
* Dictionary

In [17]:
raw_str = 'Python workshop'  # Snake-Ladder Notation 
rawStr =  "Python Workshop"  # Camelcase Notation
raw_str1 = """  This is a Python
workshop for \\
"B.Sc" Students.
"""                          # Multiline Comments

In [18]:
raw_str

'Python workshop'

In [19]:
print(raw_str1)

  This is a Python
workshop for \
"B.Sc" Students.

In [20]:
a = 'jsagfjsdgfdsfgdsfgggggggsgdhdhd\
hdhdhdhdhdhdhdhdhdhdhdhdsagh'
print(a)

jsagfjsdgfdsfgdsfgggggggsgdhdhdhdhdhdhdhdhdhdhdhdhdhdhdsagh

In [24]:
#immutable
raw_str = "python workshop"
raw_str

'python workshop'

In [25]:
raw_str.capitalize()

'Python workshop'

In [26]:
raw_str2 = 'abc'

In [28]:
raw_str2.capitalize()

'Abc'

In [29]:
raw_str.lower()

'python workshop'

In [30]:
raw_str2.upper()

'ABC'

In [32]:
raw_list = []
print(type(raw_list))
print(len(raw_list))

<class 'list'>
0

In [33]:
raw_list.append(2)
print(raw_list)

[2]

In [34]:
raw_list1 = ["saket", "mca", "bsc"]
print(len(raw_list1))

3

In [35]:
print(raw_list1[1])

mca

In [39]:
raw_list1[2][2].capitalize()

'C'

In [41]:
raw_list2 = [3, 4.5, 'saket', "mca"]  # List is heterogeneous datatype

In [43]:
for temp in raw_list2:
    print(temp, type(temp))

3 <class 'int'>
4.5 <class 'float'>
saket <class 'str'>
mca <class 'str'>

In [44]:
raw_list.append(raw_list2)
raw_list

[2, [3, 4.5, 'saket', 'mca']]

In [47]:
print(raw_list[1][2][2])

k

In [48]:
len(raw_list)

2

In [49]:
len(raw_list2)

4

In [50]:
raw_list.append(raw_list2)

In [51]:
len(raw_list)

3

In [52]:
raw_list

[2, [3, 4.5, 'saket', 'mca'], [3, 4.5, 'saket', 'mca']]

In [53]:
raw_list3 = [2,3]
raw_list4 = [5, 6]

In [54]:
raw_list3.extend(raw_list4)
print(raw_list3)

[2, 3, 5, 6]

In [ ]:
# Print Statement

In [55]:
print("Hello World")
print("Hello" + "Saket")

Hello World
HelloSaket

In [56]:
v1 = "saket"
v2 = 3
print(v1, v2)

saket 3

In [57]:
print("my name is ", v1, "and", v2,  "year experience")

my name is  saket and 3 year experience

In [58]:
# String Formater Method
print("My name is {0} and {1} year experience"\
      .format(v1,v2))

My name is saket and 3 year experience

In [59]:
print("My name is {0} and {1} year experience. Now {0} is\
      taching python to graduate {1} studenst {0}{0}{0}{1}{1}"\
      .format(v1,v2))

My name is saket and 3 year experience. Now saket is      taching python to graduate 3 studenst saketsaketsaket33

In [60]:
print(raw_list2)
set(raw_list2)

[3, 4.5, 'saket', 'mca']

{3, 4.5, 'mca', 'saket'}

In [64]:
raw_list5 = ["saket", "shyam", "mohan", "jhon", "jon"]
raw_list6 = ["saket", "shyam", "mohan",\
             "jhon", "mohan", "jhon", "ram"]
print(raw_list5)
print(raw_list6)

['saket', 'shyam', 'mohan', 'jhon', 'jon']
['saket', 'shyam', 'mohan', 'jhon', 'mohan', 'jhon', 'ram']

In [65]:
raw_set1 = set(raw_list5)
raw_set2 = set(raw_list6)

In [66]:
print(raw_set1)
print(raw_set2)

{'mohan', 'shyam', 'jhon', 'saket', 'jon'}
{'mohan', 'shyam', 'jhon', 'saket', 'ram'}

In [67]:
print(raw_set1.union(raw_set2))

{'mohan', 'shyam', 'jhon', 'saket', 'jon', 'ram'}

In [68]:
print(raw_set2.union(raw_set1))

{'mohan', 'shyam', 'jhon', 'saket', 'jon', 'ram'}

In [69]:
print(raw_set1.intersection(raw_set2))

{'shyam', 'jhon', 'mohan', 'saket'}

In [70]:
print(raw_set1.difference(raw_set2))

{'jon'}

In [71]:
print(raw_set2.difference(raw_set1))

{'ram'}

In [77]:
raw_tuple = (4, 5)
raw_tuple1 = "saket", "kumar"
rt = (2,)

In [78]:
print(len(raw_tuple))
print(len(raw_tuple1))
print(len(rt))

2
2
1

In [74]:
print(raw_tuple1[1][1])

u

In [79]:
raw_dict = {
    "name": "saket",
    "subject": "python",
    "year": 3,
    "student_names": ["shyam", "jon"]
}   # key-value pair

In [80]:
raw_dict.keys()

dict_keys(['name', 'subject', 'year', 'student_names'])

In [81]:
raw_dict.values()

dict_values(['saket', 'python', 3, ['shyam', 'jon']])

In [83]:
for k in raw_dict.items():
    print(k)

('name', 'saket')
('subject', 'python')
('year', 3)
('student_names', ['shyam', 'jon'])

In [82]:
for k, v in raw_dict.items():
    print("I m the key {0} and my value is {1}"\
          .format(k,v))

I m the key name and my value is saket
I m the key subject and my value is python
I m the key year and my value is 3
I m the key student_names and my value is ['shyam', 'jon']

In [85]:
raw_dict["name"] = "Saket Kumar"

In [86]:
raw_dict["contact"] = 'saket_au@rediffmailcom'

In [87]:
raw_dict

{'name': 'Saket Kumar',
 'subject': 'python',
 'year': 3,
 'student_names': ['shyam', 'jon'],
 'contact': 'saket_au@rediffmailcom'}

In [ ]:
raw_dict["z"] = 's'

In [ ]:
raw_dict["name"]

In [ ]:
raw_dict.get("name", "")

In [ ]:
l1 = ["saket"]
l2 = l1                    # Reference
l1.append("kumar")
print(l2)

In [ ]:
l1 = ["saket"]
l2 = l1[:]                    # deep copy
l1.append("kumar")
print(l2)

In [ ]:
# Slicing 
# variable_name[start: end: step_size]
# end -1
print(raw_str)
print(raw_str[0:3])
print(raw_str[ : : 2])
print(raw_str[-1])

In [ ]:
print(raw_list)
print(raw_list[3:])

**Parameter Passing Technique**

In [ ]:
def sum_two(first_number, second_number):   # copy value technique
    print("sum of {} and {} is {}".format(first_number, second_number,\
                                          first_number + second_number))
    return

In [ ]:
sum_two(3,5)

In [ ]:
def volume(length, weidth=4, height=10):      # Default Value technique
    print("volume = {}".format(length*weidth*height))
    return

In [ ]:
volume(3, 4, 5)    # 60
volume (3, 5)      # 150
volume (3)         # 120
volume()           # argument error

In [ ]:
  def volume_kw(l, w, h):          # keyword argument
        print("volume = {}".format(l + w*h))
        return

In [ ]:
volume_kw(l = 2, w = 5, h = 10)    # 52
volume_kw(w = 5, l = 2, h = 10)    #52

In [ ]:
def print_all(*kw1):        # Varaiable argumenet passing tehnique: as a list
    for k in kw1:
        print(k)
    return

In [ ]:
print_all("saket", "kumar")

In [ ]:
print_all(2, 3, 4)

In [ ]:
def print_alld(**kw):    # variable arguments passing technique: as a key, value pair
    for k in kw:
        print(k, kw[k])
    return

In [ ]:
print_alld(name="saket", course="BSc")

In [1]:
def print_a(*kw1, **kw2):
    for k in kw1:
        print(kw1)
    for k in kw2:
        print(k, kw2[k])
print_a("saket", "kumar", [2, 3], 3, name="saket", subject="pyhton", year=3)

('saket', 'kumar', [2, 3], 3)
('saket', 'kumar', [2, 3], 3)
('saket', 'kumar', [2, 3], 3)
('saket', 'kumar', [2, 3], 3)
name saket
subject pyhton
year 3