## Datatypes in Python
#### String    :     " xyz "
#### List        :     [2, 3]
#### Tuple     :     (5,6)
#### Set         :    {1,2}
#### Dictionary :   {  "name":  "Saket",   "course": "BCA" }   key-value pair

________________________________________________________________
## List

In [16]:
a = [ ]    #Empty List
print("Length of a = {0}".format(len(a)))
name = "Pratibha Kumari"; course = "BCA"
print("My name is {0} and i am {1} student in {2} semester.".format(name, course, "V"))

Length of a = 0
My name is Pratibha Kumari and i am BCA student in V semester.

In [19]:
a = [2, 3, 4, 5, 7]    # one dimensional list
print(a)
for i in a:               # Indentation
    print(i)

[2, 3, 4, 5, 7]
2
3
4
5
7

In [22]:
a.append(12)
a

[2, 3, 4, 5, 7, 12, 12]

In [23]:
b = [5, 6, 7]
a.append(b)

In [24]:
a

[2, 3, 4, 5, 7, 12, 12, [5, 6, 7]]

In [25]:
a.append("Saket")
a

[2, 3, 4, 5, 7, 12, 12, [5, 6, 7], 'Saket']

In [26]:
c = [2, 3, 4]
d = [5, 6]
c.append(d)
c

[2, 3, 4, [5, 6]]

In [27]:
e = [5, 8, 9]
e.extend(d)
e

[5, 8, 9, 5, 6]

In [33]:
len(c)

4

In [34]:
e.count(5)

2

## Dictionary

In [35]:
a = {
    "Name":  "Saket",
    "Course": "BCA",
    "Student_list": [36,37,38,39,41, 42,73]    
}
print(a)

{'Name': 'Saket', 'Course': 'BCA', 'Student_list': [36, 37, 38, 39, 41, 42, 73]}

In [41]:
for key, value in a.items():
    print("Key = ", key, "and Value = ", value)

Key =  Name and Value =  Saket
Key =  Course and Value =  BCA
Key =  Student_list and Value =  [36, 37, 38, 39, 41, 42, 73]